version: '3'
services:
  base: &base
    image: tarquinn
    working_dir: /home/app/app
    volumes:
      - .:/home/app/app

  base_build:
    <<: *base
    build: .
    command: echo done

  tarquinn:
    <<: *base
    container_name: tarquinn
    depends_on: [base_build]
    command: /bin/bash -c 'rspec'

  tarquinn_tests:
    <<: *base
    depends_on: [base_build]
    command: /bin/bash -c 'rspec && yard && rake yardstick_measure && rake verify_measurements'
